input {
border: none !important;
display: block;
margin: 10px auto;
border-radius: 3px;
width: 80%;
color: #666;
line-height: 1em;
}

hr {
border: none !important;
height: 5px;
background: #fc0;
}

button {
border: none !important;
border-radius: 3px;
background: #eee;
padding: 15px 10px;
cursor: pointer;
}